@font-face {
    font-family: 'Architects Daughter';
    src: url(./assets/fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}
@font-face {
    font-family: 'Josefin Sans';
    src: url(./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #1F1F1F;
}