@font-face {
    font-family: 'Qahiri';
    src: url(./assets/fonts/Qahiri/Qahiri-Regular.ttf);
}
@font-face {
    font-family: 'Josefin Sans';
    src: url(./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F1F1F;
}